* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

/* Selector de etiqueta */

header {
  background-color: brown;
}

/* Selector de clase */

div.foo {
  background-color: rgb(87, 57, 57);
}

/* Selector de id */

#foo {
  background-color: brown;
}

/* Selector de atributo */

[for] {
  color: bisque;
}

[width='200'] {
  border: 2px solid;
}

/* Selectores multiples*/

div.foo {
  background-color: azure;
}

button[type='submit'] {
  background-color: azure;
}

/* Combinación de selectores */

/* section p {
  color: blueviolet;
} */

section > p {
  color: rgb(137, 43, 226);
}

section ~ p {
  color: aqua;
}

section + p {
  color: chartreuse;
}

/* Pseudo Elementos */
/* Pseudo Clases*/

p::first-letter {
  font-size: 1.4rem;
}

article p::first-line {
  text-decoration: underline;
}

p:hover {
  font-size: 1.3rem;
}

p:nth-child(2) {
  font-style: italic;
}

p:nth-of-type(2) {
  font-weight: 900;
}

div,
address {
  color: beige;
}

nav ol li:nth-child(2n) {
  color: chocolate;
}

nav a {
  color: inherit;
  text-decoration: none;
}

nav ol {
  list-style: none;
}

nav li {
  background-color: aqua;
}

nav li::before {
  content: '🌀';
}

[type='text'] {
  font-weight: 900;
}

[type='text']::placeholder {
  font-weight: 100;
}
